body{
    background-color: rgb(255, 94, 94);
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.container{
    background-color: white;
    width: 1000px;
    margin: auto;
}

/* mengatur jarak dalam header padding top 20, padding right 20 dan padding left 20  */
header{
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/* untuk header judul gunakan ukuran font 40px,tebal dan margin dibawah bottom 5px  */
.header .judul{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}
 
/* Mengatur display inline-black agar bisa diberikan dimensi  */
nav{
    padding: 0px;
}

.nav li{
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

/*menghilangkan garis bawah link*/
.nav li a {
    text-decoration: none;
    color: navy;
}
 
/*ketika navigasi disorot mouse*/
.nav li a:hover {
    background-color: lightblue;
    color: white;
}

/*untuk css baner*/
.banner {
    height: 300px;
    /*background-color: skyblue;*/
    /*berikan file gambar*/
    background-image: url(../img/banner.jpg);
    /*atur ukuran gambar*/
    background-size: cover;
    /*mengatur posisi gambar horisontal dan vertikal*/
    background-position: 0px -150px;
    /*mengatur garis tepi tebal jenis warna*/
    border-top: 5px solid rgb(255, 34, 0);
    border-bottom: 5px solid rgb(149, 7, 7);
}

/*untuk isi*/
.isi {
    padding: 20px;
}
 
.isi h2 {
    font-size: 30px;
    font-weight: bold;
}
 
.isi .penulis {
    font-size: 14px;
    /*agar agak naik*/
    margin-top: -10px;
}
 
.isi .penulis a {
    text-decoration: none;
    color: rgb(203, 0, 0);
}
 
.isi p {
    font-size: 16px;
    margin-bottom: 10px;
}

/*untuk footer*/
.footer {
    background-color: rgb(128, 0, 0);
    height: 50px;
    padding: 2px;
}
 
.footer .copyright {
    font-size: 16px;
    color: white;
    text-align: center;
}